@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");
@import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
/* @import url("https://fontlibrary.org//face/anka-coder"); */

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: rgb(193 188 169);
    display: grid;
}

body, html{
   width: 100%;
}

/**************Cabeçalho**************/
.header {
    background-color: #bca391;

    nav {
        text-align: center;
        padding: 0.6rem;

        .logo {
            text-align: left;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        animation-name: fadeIn;
        animation-duration: 1.5s;
    }

    li {
        display: inline;
    }

    ul,
    a {
        color: rgb(235, 218, 203);
        font-size: 1.5rem;
        font-family: "Special Elite", "Segoe UI", Arial, Helvetica, sans-serif;
    }

    a {
        margin: 1.25rem;
        text-decoration: none;
        text-underline-offset: 10px;
        transition: all 0.3s;
    }

    a:hover {
        color: rgb(230, 194, 163);
    }

    .nav-content{
        display: flex;
    }

    .logo img{
        width: 100px;
    }

    .menu{
        margin: auto; 
        padding-right: 100px;
    }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(230, 194, 163);
  transition: transform 0.2s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.center:hover::after {
  transform-origin: bottom center;
}

/**************Cabeçalho**************/

.container {
    background-color: rgb(85, 69, 69);
    
    .desc {
        padding: 90px 24px 310px 24px;
        display: flex;
        margin: 0px 8.5%;
        max-width: 100%;
        animation-name: fadeIn;
        animation-duration: 1.5s;

        .text-desc {
            padding-right: 30px;
            align-content: center;
            text-align: center;
            width: 65%;
        }

        .img-desc img {
            max-width: 100%;
        }
    }

    .img-desc {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    h1 {
        font-size: 3.5rem;
        font-weight: 900;
        color: rgb(201, 179, 179);
        margin-bottom: 10px;
    }

    hr {
        border: 1px solid rgb(127, 110, 110);
        width: 80%;
    }

    p {
        color: rgb(201, 179, 179);
        font-size: 1.5rem;
    }

    h1,
    p {
        font-family: "Special Elite", "Segoe UI", Arial, Helvetica, sans-serif;
    }
}

.footer {
    text-align: center;
    padding: 20px;

    p {
        font-family: "Rubik", "Segoe UI", Arial, Helvetica, sans-serif;
        color: rgb(99 86 86);
    }
}

/* .special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
} */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 678px) {
    .img-desc {
        display: none !important;
    }

    .text-desc {
        width: 100% !important;
        padding: 0 !important;
    }
}

/* @media only screen and (max-width: 600px) {
    body {
        width: 70% !important;
    }
} */